/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

h2 {
  font-size: 100%;
  padding: .4rem .8rem;
  font-weight: normal;
  background-color: #58b70f;
  color: #fff;
}

#Flash {
  margin-bottom: 1rem;
  background-color: darkorange;
  color: white;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 1rem;
    }
  }
}

#Header {
  padding: 1rem;
}

.login {
  text-align: center;
  margin: 1rem auto 2rem auto;

  .twitter-login {
    i {
      margin-right: .4rem;
    }

    border-radius: 2rem;
    text-decoration: none;
    background-color: #1da1f2;
    color: #fff;
    padding: .8rem 1.6rem;
  }
}

.information {
  margin: 1.5rem 1rem;
  padding: .5rem 1rem;
  border-width: 0 0 0 5px;
  border-color: #58b70f;
  border-style: solid;
}
