// Place all the styles related to the default controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin book-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.8rem;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
  }
}

@mixin serial-list {
  @include book-list;

  li {
    button {
      font-size: 1.6rem;
      white-space: nowrap;
    }
  }
}

@mixin publication-list {
  @include book-list;

  li {
    span.date {
      font-size: 1.2rem;
      color: #666;
      white-space: nowrap;
      margin-left: 1rem;
    }
  }
}

#SerialsIndex {
  .search {
    text-align: center;

    input[type=text] {
      font-size: 2rem;
      padding: 1.2rem 1.6rem;
      width: 80%;
      border-radius: 1.5em;
      border-style: solid;
      border-width: 1px;
      border-color: #ccc;
      outline: 0;
    }
  }

  .result {
    h2 {
      margin-bottom: 0;
    }

    ul {
      @include serial-list;
    }
  }
}

.subscriptions {
  h2 {
    margin-bottom: 0;
  }

  ul {
    @include serial-list;
  }
}

.recent_publications {
  h2 {
    margin-bottom: 0;
  }

  ul {
    @include publication-list;
  }
}
